<div class="register-page">
    <div class="container">
        <form class="form-registry" [formGroup]="registryForm" (submit)="onsubmit()">
            <h2 class="form-registry-heading">Borroom用户注册</h2>
            <div class="input-group">
              <label>用户ID</label>
              <input formControlName="userid" type="text" id="inputUserid" class="form-control" placeholder="学号/工号" required autofocus>
            </div>
            <div class="alert-danger" [hidden]="registryForm.get('userid').valid || registryForm.get('userid').untouched">
              用户名是必填项
            </div>
            <div class="input-group" formGroupName="confirmPassword">
              <div class="input-group">
                <label>密码</label>
                <input type="password" formControlName="password" class="form-control" placeholder="请设置密码" required>
              </div>
              <div class="alert-danger" [hidden]="!registryForm.hasError('minlength', ['confirmPassword', 'inputPassword'])">
                密码最小长度为6
              </div>
              <div class="input-group">
                <label>请再次输入密码</label>
                <input type="password" formControlName="reInputPassword" class="form-control" placeholder="请再次输入密码" required>
              </div>
              <div class="alert-danger" [hidden]="!registryForm.hasError('equal', 'confirmPassword')">
                {{registryForm.getError('equal', 'confirmPassword')?.desc}}
              </div>
            </div>
            <div class="input-group">
              <label>身份证号</label>
              <input type="text" formControlName="idnum" id="inputIdnum" class="form-control" placeholder="请输入身份证号" required>
            </div>
            <div class="alert-danger" [hidden]="registryForm.get('idnum').valid || registryForm.get('idnum').pristine">
              请输入正确的身份证号
            </div>
            <div class="input-group">
              <label>手机号</label>
              <input type="phone" formControlName="phone" id="inputPhone" class="form-control" placeholder="请输入手机号">
            </div>
            <div class="alert-danger" [hidden]="registryForm.get('phone').valid || registryForm.get('phone').pristine">
              请输入正确的手机号
            </div>
            <div class="input-group">
              <label>导师</label>
              <input type="teacher" formControlName="teacher" id="inputTeacher" class="form-control" placeholder="请输入导师">
            </div>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="agreement"> 我已仔细阅读Borroom用户服务条款
            </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">立即注册</button>
        </form>
    </div>
</div>
