<div class="row">
  <div class=".col-md-2 .col-md-offset-2">
    <div class="thumbnail">
      <img src="assets/us1.jpg" alt="图片未成功加载">
      <div class="caption">
        <h2>Borroom</h2>
        <h4>Borroom是一款集会议室查看与会议室预定为一体的预定系统，旨在帮助用户方便地进行会议室的预定。</h4>
        <h4>本系统前端采用Angular，后端采用springboot，数据库采用MySQL，前后端分离，使用RESTful API进行交互，本系统源码查看请见Github：</h4>
        <h4>前端:<a>https://github.com/Mark1mE/borroomfrontend.git</a></h4>
        <h4>后端:<a>https://github.com/Mark1mE/borroombackend.git</a></h4>
        <h4>如有任何问题，欢迎和我们联系：</h4>
        <h4>我们的邮箱是：710766342@qq.com</h4>
        <h4>地　  址：天津市津南区天津大学55楼</h4>
      </div>
    </div>
  </div>
</div>
