<ul class="nav nav-tabs">
  <li role="presentation" class="active" (click)="allorder()"><a role="tab" data-toggle="tab">所有预约</a></li>
  <li role="presentation" (click)="pass()"><a role="tab" data-toggle="tab">已通过</a ></li>
  <li role="presentation" (click)="review()"><a role="tab" data-toggle="tab">审核中</a></li>
  <li role="presentation" (click)="reject()"><a role="tab" data-toggle="tab">驳回</a></li>
  <!--
  <label>按</label>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" id="choices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      roomnum<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a (click)="choice('starttime')">starttime</a></li>
      <li><a (click)="choice('endtime')">endtime</a></li>
      <li><a (click)="choice('usereason')">usereason</a></li>
    </ul>
  </div>
  <label>搜索</label>
  -->
  <form class="navbar-form navbar-right">
    <input type="text" class="form-control" placeholder="搜索您的预约历史..." [formControl]="keywordFilter">
  </form>
</ul>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr style="height: 50px">
      <th>编号</th>
      <th>借用会议室</th>
      <th>申请使用时间</th>
      <th>申请理由</th>
      <th>当前状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody *ngIf="record" style="line-height: 50px;">
    <tr *ngFor="let recordItem of record  | filter:'roomnum':keywords;let i = index" style="height: 50px" id="record">
      <!--<th>{{recordItem['id']}}</th>-->
      <th>{{i + 1}}</th>
      <th>{{recordItem['roomnum']}}</th>
      <th>{{recordItem['starttime'] | date:'yyyy-MM-dd HH:mm:ss'}}-{{recordItem['endtime'] | date:'yyyy-MM-dd HH:mm:ss'}}</th>
      <th>{{recordItem['usereason']}}</th>
      <th>{{recordItem['status'] | infoPipe}}</th>
      <!--<th *ngIf="recordItem['status'] === 2 || recordItem['status'] === 3">-->
        <button type="button" class="btn btn-primary btn-sm delete" (click)="deleteorder(recordItem['id'])">
          删除
        </button>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <button type="button" class="btn btn-primary btn-sm modify" data-toggle="modal" data-target="#myModal" (click)="editInfo(recordItem)">
          修改
        </button>
        <app-order-modify></app-order-modify>
      <!--</th>
      <th *ngIf="recordItem['status'] === 1">
      </th>-->
    </tr>
    </tbody>
  </table>
</div>


