.container {
  width: 800px;
  height: 800px;
  margin:0 auto;
}

.placeholder {
  margin-top: 60px;
  margin-bottom: 20px;
}
.img-responsive {
  display: inline-block;
  border-radius: 50%;
  margin-left: 85px;
}

.userinfo {
  width: 600px;
}

form {
  margin-top: 50px;
}

form div {
  width: 400px;
}

.input-group {
  margin-bottom: 5px;
}

h2 {
  width: 300px;
  padding-left: 100px;
}

hr {
  width: 600px;
  margin-left: -100px;
}

.saveButton {
  margin-left: 125px;
  margin-top: 20px;
}
